.messages {
  padding-top: 16px;
}
.message {
  display: flex;
  align-items: flex-start;
}
.message .chat-text {
  display: flex;
  flex-direction: column;
}
.message .chat-text p:first-child {
  margin: 0;
}
.chat-picture {
  margin-right: 15px;
}
.chat-text {
  display: flex;
  align-items: flex-start;
}
.chat-username {
  display: inline-block;
}
.name-link {
  background-color: #22313a;
  border-radius: 3px;
  padding: 0px 2px;
  text-decoration: none;
}
.name-link:hover {
  background-color: #213d4b;
  text-decoration: none;
}