.channels-sidebar {
  width: 200px;
  color: white;
  background-color: #4B3949;
}
.sublist-title {
  display: flex;
  justify-content: space-between;
}
.sublist {
  margin-top: 24px;
}
.user {
  display: flex;
  align-items: center;
}
.user span, .channel span {
  opacity: .5;
}
.channel-active {
  opacity: 1;
}
