.channels-sidebar {
  width: 200px;
  color: white;
  background-color: #4B3949;
}
.workspaces-sidebar {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #261C25;
}
.workspaces-sidebar h2 {
  opacity: .5;
}
.workspace-active h2 {
  opacity: 1;
}
.sublist-title {
  display: flex;
  justify-content: space-between;
}
.sublist {
  margin-top: 24px;
}
.user {
  display: flex;
  align-items: center;
}
.user span, .channel span {
  opacity: .5;
}
.channel-active {
  opacity: 1;
}
